doctype
html(ng-app="#{package.name}")
  head
    title "#{package.name}"
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/stylesheets/core.css')
    meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")

  body
    div(ng-view)

    // Socket.io
    script(src="/socket.io/socket.io.js")
      
    // Module dependencies.
    script(src='/angular/angular.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-cookies/angular-cookies.min.js')
    script(src='/angular-resource/angular-resource.min.js')
    script(src='/angular-route/angular-route.min.js')

    // Initializing.
    script(src='/bootstrap.js')
    // Load services.
    script(src='/services/socket.js')
    // Load controllers.
    script(src='/controllers/index.js')
