doctype html
html(ng-app="#{name}")
  head
    title "#{name}"
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')

  body

    // Module dependencies.
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-animate/angular-animate.min.js')
    script(src='/vendor/angular-cookies/angular-cookies.min.js')
    script(src='/vendor/angular-resource/angular-resource.min.js')
    script(src='/vendor/angular-route/angular-route.min.js')

    // Const.
    script(src='/config/application.js')
    // Initializing.
    script(src='/bootstrap.js')
    // Load services.
    script(src='/services/socket.js')
    // Load controllers.
    script(src='/controllers/index.js')
