doctype
html(ng-app="#{package.name}")
  head
    title "#{package.name}"
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')

  body
    div(ng-view)

    // Module dependencies.
    script(src='/angular/angular.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-cookies/angular-cookies.min.js')
    script(src='/angular-resource/angular-resource.min.js')
    script(src='/angular-route/angular-route.min.js')

    // Const.
    script(src='/config/application.js')
    // Initializing.
    script(src='/bootstrap.js')
    // Load services.
    script(src='/services/socket.js')
    // Load controllers.
    script(src='/controllers/index.js')
